body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.header {
    font-weight: normal;
    font-size: 3.1em;
    color: white;
}
.download {
    font-size: 1rem;
    color: aquamarine;
}
.travel-guide {
    font-weight: 300;
    font-size: 2.6em;
    color: white;
    
}

h4 {
    font-size: 1.3em;
    color: grey;
}